.commit_root {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    margin: 8px;
    cursor: pointer;
    border-radius: 5px;
}

.commit_root:hover:after {
    content: "Click to open commit page";
    font-size: 16px;
    font-weight: 700;
    color: rgb(71, 44, 133);
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background-color: rgba(71, 44, 133, 0.1);
    border-radius: 5px;
    padding-right: 8px;
}

.commit_avatar {
    width: 40px;
    height: 40px;
    min-width: 40px;
    max-height: 40px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    border-radius: 5px;
}

.commit_details {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.commit_infos {
    display: flex;
    margin-bottom: 4px;
}

.commit_login {
    font-weight: 600;
}

.commit_date {
    margin-left: 8px;
}

.commit_sha {
    margin-left: 8px;
    color: gray;
}

